body {
    margin:0px;
    color:#333;
    text-align:center;
    line-height:1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

#main {
    border-radius:5px;
    background:#eee;
    margin:30px 9px;
    padding:5px;
}

#title {
    font-size:65px;
}

#follow-up {
    font-size:30px;
}

img {
    max-width:100%;
    display:block;
    margin: 0 auto;
    height:auto;
}

#img-div {
    background:white;
    padding:10px;
}

#img-caption {
    font-size:25px;
    margin:15px 0 5px 0;
}

#headline {
    text-align:center;
    margin:50px auto;
    font-size:43px;
}

ul {
    text-align:left;
    line-height:2 ;
    margin:0 auto 50px auto;
    padding:auto;
    max-width:80%;
    font-size:38px;
}

li {
    margin:16px 8px;
}

blockquote {
    text-align:left;
    font-style:italic;
    margin:25px;
    padding:25px;
    font-size:38px;
}

h3 {
    font-size:38px;
    text-align:center;
    color:black thick;
}

a {
   color:brown;
}

a:visited {
    color:blue;
}
